/* HEADER */

.header {
  background: #212529;
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  text-align: center;
  z-index: 999;
  padding: 0 15px;

}

.header__content {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1350px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.nav-menu {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: inline;
  justify-content: space-around;
}

.header__logo,
.header__quick {
  display: flex;
  align-items: center;
  color: var(--menu-color);
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-family:cursive;
}

.header__logo img {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

.header__menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.header__menu li {
  display: inline-block;
}

.header__menu li a {
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;

}

.header__menu li a:hover {
  transform: scale(1.1);
  background: #fff;
  color: #000;
  border-bottom: 1px solid #000;
}

.header__quick button {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  width: 115px;
  height: 35px;
  justify-content: space-between;
}

.header__quick a {
  font-size: 16px;
  font-weight: bold;
  color: #111;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

}






/* MEDIA HEADER */
@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    padding-inline: 33px;
    background-color: #111;
  }

  .header__menu {
    display: block;
    line-height: 3.5;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--menu-bg);
    width: 100%;
    height: 100vh;
    height: 0vh;
    overflow: hidden;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
  }

  .header__menu li {
    width: 100%;
    border-bottom: 1px solid #999;
  }

  .menu-open .header__menu {
    height: 100vh;
    padding: 3%;
  }

  .header__menu li a {
    color: var(--menu-color);
  }


  .icon-hamburger {
    height: 50px;
    width: 40px;
    margin-left: 20px;
    padding-top: 5px;
    ;
  }

  .icon-hamburger span {
    height: 2px;
    width: 30px;
    background: #fff;
    position: relative;
    display: block;
    margin-top: 11px;
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
  }

  .menu-open .icon-hamburger span:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }

  .menu-open .icon-hamburger span:nth-child(2) {
    transform: rotate(-45deg) translateY(-9px);
  }

  .header__quick {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .header__quick button {
    display: none;
  }

}