@import url(./header.css);

@import url(./home.css);

@import url(./hero.css);

@import url(./lessons.css);

@import url(./about.css);

/* ! Reset */
body,
html {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0 0 1rem 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

img {
  height: auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

a {
  text-decoration: none
}

;

/* ! Helpers  */
.mt-0 {
  margin-top: 0
}

.mt-1 {
  margin-top: 10px
}

.mt-2 {
  margin-top: 20px
}

.mt-3 {
  margin-top: 40px
}

.mt-4 {
  margin-top: 100px
}

.mb-0 {
  margin-bottom: 0
}

.mb-1 {
  margin-bottom: 10px
}

.mb-2 {
  margin-bottom: 20px
}

.mb-3 {
  margin-bottom: 40px
}

.mb-4 {
  margin-bottom: 100px
}

.p-0 {
  padding: 0
}

.p-1 {
  padding: 10px
}

.p-2 {
  padding: 20px
}

.p-3 {
  padding: 40px
}

.p-4 {
  padding: 100px
}

.pt-1 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 40px;
}

.pt-4 {
  padding-top: 15vh;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 40px;
}

.pb-4 {
  padding-bottom: 15vh;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.img-res {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  vertical-align: middle;
}

.img-round

/*rende img rotonda*/
  {
  border-radius: 100%;
}

.relative {
  position: relative;
}

.round {
  border-radius: 20px;
}

.img-small {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.t-w {
  color: #fff;
}

.t-b {
  color: #000;
}

.spacer {
  height: 100px;
}





/* ! Grid System */
.grid {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1450px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.grid--center {
  justify-content: center;
}

.col {
  flex: 1;
}

[class*='col-'] {
  position: relative;
  padding: 0 15px;
}

.grid .grid [class*='col-'] {
  padding: 0px;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-30 {
  width: 30%;
}

.col-33 {
  width: 33.33%;
}

.col-50 {
  width: 50%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

.col-100 {
  width: 100%;
}

@media (max-width: 991px) {
  .tab-20 {
    width: 20%;
  }

  .tab-25 {
    width: 25%;
  }

  .tab-33 {
    width: 33.33%;
  }

  .tab-50 {
    width: 50%;
  }

  .tab-100 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  [class*='col-'] {
    width: 100%;
  }

  .sma-20 {
    width: 20%;
  }

  .sma-25 {
    width: 25%;
  }

  .sma-33 {
    width: 33.33%;
  }

  .sma-50 {
    width: 50%;
  }

  .sma-100 {
    width: 100%;
  }
}




/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
body {
  background: #fff;

}

.main {
  margin-top: 50px;
}

/* Menu */
:root {
  --menu-bg: #0c0c0e;
  --menu-color: #fff;
  --header-color: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(106, 105, 105, 1) 100%);
}

















/* ! Footer */
/* ! Footer */
/* ! Footer */
/* ! Footer */
/* ! Footer */
/* ! Footer */
.footer {
  background: var(--menu-bg);
  padding: 4%;
  color: #fff;
}










/* ! Helpers  */
.mt-0 {
  margin-top: 0
}

.mt-1 {
  margin-top: 10px
}

.mt-2 {
  margin-top: 20px
}

.mt-3 {
  margin-top: 40px
}

.mt-4 {
  margin-top: 100px
}

.mb-0 {
  margin-bottom: 0
}

.mb-1 {
  margin-bottom: 10px
}

.mb-2 {
  margin-bottom: 20px
}

.mb-3 {
  margin-bottom: 40px
}

.mb-4 {
  margin-bottom: 100px
}

.p-0 {
  padding: 0
}

.p-1 {
  padding: 10px
}

.p-2 {
  padding: 20px
}

.p-3 {
  padding: 40px
}

.p-4 {
  padding: 100px
}

.pt-1 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 40px;
}

.pt-4 {
  padding-top: 15vh;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 40px;
}

.pb-4 {
  padding-bottom: 15vh;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.img-res {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  vertical-align: middle;
}











/* -------------------------------------------------------------------------------- */
/* ! animated................... */
/* -------------------------------------------------------------------------------- */
.animated {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/* -------------------------------------------------------------------------------- */
/* ! fadeInUp */
/* -------------------------------------------------------------------------------- */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}







/* -------------------------------------------------------------------------------- */
/* ! pulse */
/* -------------------------------------------------------------------------------- */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}







@media (max-width: 768px) {
   
}